body{
    font-family: 'Yuji Boku', serif;
}
section{
    padding-top: 6rem;
}

.jumbotron{
    padding-top: 8rem;
    background-color: #f2dede;
}

#card{
    background-color: #f2dede;
}

footer{
    background-color: #bb294d;
}

p{
    font-family: 'Times New Roman', Times, serif;
}